body {
	font-size: 16px;
	font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
	cursor: default;
	font-weight: 200;
	color: #000;
}

.header {
	padding: 25px 0px;
	background: #008cdd;
	text-align: center;
	margin: 0px 0px 0px 0px;
}

.header_text h1 {
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
}

#main {
	padding: 20px;
}

.inbox {
	text-align: right;
	padding: 10px 0px;
	font-size: 16px;
}

.geemailContent {
	border-bottom: 1px solid #ccc;
}

.row {
	padding: 20px 0px 15px 0px;
}

.date {
	font-size: 85%;
    letter-spacing: 1px;
    font-size: 10px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-weight: 100;	
	text-transform: uppercase;
    color: #bbb;
    padding: 5px 0px 10px 0px;
}

.subject {
	font-size: 20px;
	font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
	font-weight: 900;
}

.messageRow {
	padding: 0px 0px 20px 0px;
	display: none;
}